{% extends 'inicio.html' %}

        {% block title %}
                <title>LMS | Cadastro de Professores</title>
                <link rel="shortcut icon" type="image/png" href="../static/imagens/configuration.png"/>
        {% endblock title %}
        
        {% block content %}
                <header class="cabecalho">
                        <h2 class="h2_pages">Cadastro de Professores</h2>
                </header>
                <div class="line_header" >

                </div>
                
        <form>
                <div class="content_form">
                        <div class="centraliza_form">
                                {% csrf_token %} 
                                {% load widget_tweaks %}
                                <div class="label_input">
                                        Nome: <br>
                                        {{ form.nome|add_class:"inputs_form" }}
                
                                </div>
                                <div class="label_input">
                                        Habilidade(s): <br>
                                        {{ form.hab|add_class:"inputs_form" }}
                
                                </div>
                
                                <div class="label_input">
                                        CPF: <br>
                                        {{ form.cpf|add_class:"inputs_form" }}
                
                                </div>
                                <div class="label_input">
                                        E-mail: <br>
                                        {{ form.email|add_class:"inputs_form" }}
                
                                </div>
                                <div class="label_input">
                                        Celular: <br>
                                        {{ form.celular|add_class:"inputs_form" }}
                
                                </div>
                                <div class="label_input">
                                        Salário: <br>
                                        {{ form.salario|add_class:"inputs_form" }}
                
                                </div>
                                <div>
                                        <input type="button" value="APAGAR" onclick="window.location.reload()" class="buttons_pages_apagar">
                                        <input type="button" value="GRAVAR" onclick="window.location.reload()" class="buttons_pages_gravar">
                                </div>
                        </div>
                </div>
        </form>
{% endblock content %}