{% extends 'inicio.html' %}

        {% block title %}
                <title>LMS | Cadastro de Disciplinas</title>
                <link rel="shortcut icon" type="image/png" href="../static/imagens/configuration.png"/>
        {% endblock title %}
        
        {% block content %}

                <header class="cabecalho">
                        <h2 class="h2_pages">Cadastro de Disciplinas</h2>
                </header>
                <div class="line_header" >

                </div>

                <form>
                        <div class="content_form">
                                <div class="centraliza_form"> 
                                        {% csrf_token %} 
                                        {% load widget_tweaks %}
                                        <div class="label_input">
                                                Nome: <br>
                                                {{ form.nome|add_class:"inputs_form" }}

                                        </div>
                                        <div class="label_input">
                                                Carga Horária: <br>
                                                {{ form.cargaH|add_class:"inputs_form" }}

                                        </div>
                                        <div class="label_input">
                                                Percentual Teorico: <br>
                                                {{ form.PctTeo|add_class:"inputs_form" }}
                                        </div>

                                        <div class="label_input">
                                                Percentual Prático: <br>
                                                {{ form.PctPrat|add_class:"inputs_form" }}
                                        </div>
                                        <div class="label_input">
                                                Coordenador do Curso <br>
                                                {{ form.CoordCurso|add_class:"inputs_form" }}
                                        </div>
                                        <div class="label_input">
                                                Plano de ensino: <br>
                                                {{ form.PlanoEns|add_class:"inputs_form" }}
                                        </div>
                                        <div>
                                                <input type="button" value="APAGAR" onclick="window.location.reload()" class="buttons_pages_apagar">
                                                <input type="button" value="GRAVAR" onclick="window.location.reload()" class="buttons_pages_gravar">

                                        </div>
                                </div>
                        </div>
                </form>
        
        {% endblock content %}