body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #f2f2f2;
}

ul {list-style: none;}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

h1 {
    margin-top: 80px;
}

.h2_pages {
    margin: 0px;
    color: white;
    padding-top: 10px;
}

.banner {
    background-image: url(../imagens/banner.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.bloc {
    width: 400px;
    height: 100vh;
    background-color: #f2f2f2;
    float: right;
    text-align: center;
}

.cabecalho {
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
}

.line_header {
    width: 100%;
    height: 3px;
    background-color: #ffcb00;
}


.menu_entrada {
    width: 300px;
    height: auto;
    margin: auto;
    margin-top: 150px;
    text-align: center;
}

.menus {
    background-color: white;
    width: 100%;
    height: 40px;
    border: solid 1px #000;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 2px;
    cursor: pointer;
    font-size: 16px;
}

.menus:hover {
    background-color: #000;
    color: white;
    font-weight: bold;
}

/* FORMULÁRIO*/
.inputs_form {
    width: 100%;
    height: 25px;
    border: solid 1px #ccc;
    padding-left: 10px;
}

.content_form {
    margin-top: 50px;
}

.centraliza_form {
    width: 320px;
    margin: 0 auto;
}

.label_input {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons_pages_gravar {
    width: 90px;
    height: 30px;
    background-color: #28a745;
    border: solid 1px #28a745;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.buttons_pages_gravar:hover {
    background-color: #23903c;
    border: solid 1px #23903c;
}

.buttons_pages_apagar {
    width: 90px;
    height: 30px;
    background-color: #dc3545;
    border: solid 1px #dc3545;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.buttons_pages_apagar:hover {
    background-color: #c32232;
    border: solid 1px #c32232;
}
/* END FORMULÁLIO */